html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav{
    background-color: #333;
    padding: 15px;
    position: static;
    top: 0;
    z-index: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    color: rgb(95, 170, 239);
}
section{
    scroll-margin-top: 100px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#home{
    text-align: center;
    background-color: #610fe6;
    color: white;
    padding: 80px 20px;
    min-height: 80vh;
}

.highlight {
    color: #ffd700;
}

h1,h2{
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

#contact{
    background-color: #333;
    color: white;
    text-align: center;
}

#contact a{
    text-decoration: none;
    margin: 10px;
    color: #610fe6;
    font-weight: bold;
}

#contact a:hover{
    color: black;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

#contactForm input,
#contactForm textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btnResume,button{
    background-color: white;
    color: #610fe6;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 3s ease;
}

.btnResume{
    text-decoration: none;
}
  
 
.btnResume,button:hover{
    /* transform: scale(1.05); */
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(134, 33, 10, 0.256);
}

.project-card{
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card a{
    text-decoration: none;
    background: #6c63ff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.project-card a:hover {
  background: #5448e5;
}

.skills-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skill{
    background-color: #610fe6;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
     
}

.skill:hover {
  transform: translateY(-5px);
}

.skill i {
  font-size: 28px;
  transition: 0.3s;
}

.skill:hover i {
  transform: scale(1.2);
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

#typing-text{
    font-size: 24px;
    font-weight: bold;
}

#typing-text::after{
    content: " |";
    animation: blink 0.7s infinite;

}

@keyframes blink {
    50%{
        opacity: 0;
    }
    
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .project-card,
.dark-mode .skill{
    background-color: #2a2a2a;
}
.dark-mode section {
  background-color: #1e1e1e;
  color: white;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
    nav ul{
        flex-direction: column;
        gap: 10px;
    }

    #home{
        padding: 40px 20px;
    }

    .skills-container{
        justify-content: center;
    }

    .project-card{
        width: 90%;
    }
}

 .hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.hero-text{
  flex: 1;
  max-width: 600px;
}

.hero-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;

  border: 5px solid white;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.profile-img{
  transition: 0.4s ease;
}

.profile-img:hover{
  transform: scale(1.05);
}

@media(max-width:768px){

  .profile-img{
    width: 220px;
    height: 220px;
  }

}
 

.hero-buttons{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media(max-width:768px){

  .hero-content{
    flex-direction: column;
    text-align: center;
  }

  .profile-circle{
    width: 180px;
    height: 180px;
    font-size: 70px;
  }

}

.hero-desc{
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
  color: #f0f0f0;
}